/* 全局背景 */
body {
    background-image: url(https://www.zyssnh.xyz/img/girl-magical-reading-book.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
    z-index: 0 !important;
}