---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle="博客">
    <h1>我的 Astro 学习博客</h1>
    <p>在这里，我将分享我的 Astro 学习之旅。</p>
    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
